<!DOCTYPE html>

<polymer-element name="x-grid" attributes="columns,values">
  <template>
    <table class="table">
      <thead>
        <template ref="header-template" bind></template>
      </thead>
      <tbody>
        <template ref="row-template" repeat="{{value in values}}" bind></template>
      </tbody>
    </table>
    
    <template id="header-template">
      <tr>
        <th template repeat="{{column in columns}}">
            <template ref="header-{{column}}" bind="{{ newGridColumnHeader(column) }}"></template>
        </th>
      <tr>
    </template>
    
    <template id="cell-template">
      <td>
        <template ref="cell-{{column}}" bind="{{ newGridCell(column, value) }}"></template>
      </td>
    </template>
    
    <template id="row-template">
      <tr>
        <template ref="cell-template" repeat="{{column in columns}}" bind></template>
      </tr>
    </template>

    <content id="templates" select="template"></content>
  </template>
  <script type="application/dart" src="grid.dart"></script>
</polymer-element>
