<!DOCTYPE html>

<polymer-element name="x-game" attributes="game-id">
  <template>
    <style>
      @host {
        x-game {
          text-align : justify;
        }
      } 
      
      .game img {
        float: left;
        width: 200px;
        margin: 0 20px 20px 0;
      }
    </style>
    
    <div class="game">
      <template if="{{isEmpty}}">
        <h3>Unknown game</h3>
      </template>
      <template if="{{!isEmpty}}">
        <h3>{{game.name | uppercase}}</h3>
        <img class="span2 visible-{{game.image | notEmpty}}" src="/img/games/{{game.image}}">
        <p>
            <p><b>Genre:</b> {{game.genre}}</p>
            <p class="visible-{{game.players | notEmpty}}"><b>Players:</b> {{game.players}}</p>
            <p><b>Description:</b> {{game.description}}</p>
        </p>
      </template>
    </div>
  </template>
  <script type="application/dart" src="game.dart"></script>
</polymer-element>
