<!DOCTYPE html>

<polymer-element name="x-game" attributes="game">
  <template>
    <style>
      @host {
        x-game {
          text-align : justify;
        }
      } 
      
      .game img {
        float: left;
        width: 200px;
        margin: 0 20px 20px 0;
      }
    </style>
    
    <div class="game">
      <img hidden?="{{isEmpty(game.image)}}" src="{{ 'img/games/' + game.image | hostPageBaseUrl }}" class="span2">
      <p>
          <p><b>Genre:</b> {{game.genre}}</p>
          <p hidden?="{{isEmpty(game.players)}}"><b>Players:</b> {{game.players}}</p>
          <p><b>Description:</b> {{game.description}}</p>
      </p>
    </div>
  </template>
  <script type="application/dart" src="game.dart"></script>
</polymer-element>
