<!DOCTYPE html>
  
<polymer-element name="x-games" attributes="games" apply-author-styles>
  <template>
    <style>
      @host {
        x-games {
          text-align : justify;
        }
      } 
      
      .game {
        clear: both;
      }
      
      .game img {
        float: left;
        width: 200px;
        margin: 0 20px 20px 0;
      }
    </style>

    <template repeat="{{game in _games}}">
      <div class="game">
        <img src="/img/games/{{game.image}}" class="span2">
        <p>
            <h3>{{game.name | toUpperCase}}
              <a class="btn btn-info" on-click="addGame" data="{{game}}"><i class="icon-inbox icon-white"></i></a>
            </h3>
            <p><b>Genre:</b> {{game.genre}}</p>
            <p hidden?="{{isEmpty(game.players)}}"><b>Players:</b> {{game.players}}</p>
            <p><b>Description:</b> {{game.description}}</p>
        </p>
      </div>
    </template>
  </template>
  <script type="application/dart" src="games.dart"></script>
</polymer-element>
